{% extends 'layout.html'%}

{% block root %}
    <form method="POST">    
        <input type="text" name="todo" class="col s5" placeholder="Type some task">
        <input type="submit" value="Add" class="btn btn-primary">
    </form>
    {% if todos %}
        <ul>
                {% for task in todos -%}
                    <li>
                        {{ task }}
                        <a href="{{ url_for('borrar', todo=task)}}">x</a>
                    </li>
                {% endfor -%}
        </ul>
    {% else%}
        <p>There not are pending task...</p>
    {% endif %}
{% endblock %}